$white-color: #FFF;
$orange-color: #FF9800;
$red-color: #F95939;
$black-color: rgba(0, 0, 0, 0.85);
$light-black-color: #3b3b3d;
$grey-color: rgb(122, 122, 123);
$blue-color: #90CAF8;
$home-color: #528781;
