<div id="parent">
    <article class="child" id="child">
        <img src="./assets/images/js.png" alt="JS">
    </article>
    <article class="child" id="child-1">
        <img src="./assets/images/nodejs.png" alt="NodeJS">
    </article>
    <article class="child" id="child-2">
        <img src="./assets/images/react.png" alt="React">
    </article>
    <article class="child" id="child-3">
        <img src="./assets/images/redux.png" alt="Redux">
    </article>
    <article class="child" id="child-4">
        <img src="./assets/images/nodejs.png" alt="NodeJS">
    </article>
    <article class="child" id="child-5">
        <img src="./assets/images/react.png" alt="React">
    </article>
    <article class="child" id="child-6">
        <img src="./assets/images/redux.png" alt="Redux">
    </article>
    <article class="child" id="child-7">
        <img src="./assets/images/redux.png" alt="Redux">
    </article>
</div>