<div class="home-wrapper">
    <div id="parent">
        <article class="child" id="child">
            <img src="./assets/images/js.png" alt="TOP">
        </article>
        <article class="child" id="child-1">
            <img src="./assets/images/nodejs.png" alt="RIGHT">
        </article>
        <article class="child" id="child-2">
            <img src="./assets/images/react.png" alt="BOTTOM">
        </article>
        <article class="child" id="child-3">
            <img src="./assets/images/redux.png" alt="LEFT">
        </article>
        <article class="child" id="child-4">
            <img src="./assets/images/nodejs.png" alt="LEFT_TOP">
        </article>
        <article class="child" id="child-5">
            <img src="./assets/images/react.png" alt="RIGHT_TOP">
        </article>
        <article class="child" id="child-6">
            <img src="./assets/images/redux.png" alt="RIGHT_BOTTOM">
        </article>
        <article class="child" id="child-7">
            <img src="./assets/images/redux.png" alt="LEFT_BOTTOM">
        </article>
    </div>
</div>